<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Expense</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Edit Expense</h3>
                        <form method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.description.label(class="form-label") }}
                                {{ form.description(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.amount.label(class="form-label") }}
                                {{ form.amount(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.category.label(class="form-label") }}
                                {{ form.category(class="form-control") }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Update Expense</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
